/.idea/
/.mixin.out/
/crash-reports/
/data/
/datapacks/
/downloads/
/local/
/logs/
/mod_data/
/modernfix/
/moonlight-global-datapacks/
/saves/
/xaero/
/XaeroWaypoints_BACKUP240807/
/.curseclient
/.gitattributes
/hs_err_pid4764.log
/minecraftinstance.json
/options.txt
/rhino.local.properties
/usercache.json
/usernamecache.json
